<?xml version="1.0"?>
<settings>
    <group id="PmGroup" title="Bedtime Routine (PM)">
        <setting propertyKey="@Properties.PmGreenStart" title="PM Green start (min)">
            <settingConfig type="numeric"/>
        </setting>
        <setting propertyKey="@Properties.PmYellowStart" title="PM Yellow start (min)">
            <settingConfig type="numeric"/>
        </setting>
        <setting propertyKey="@Properties.PmRedStart" title="PM Red start (min)">
            <settingConfig type="numeric"/>
        </setting>
        <setting propertyKey="@Properties.PmRedEnd" title="PM Red end (min)">
            <settingConfig type="numeric"/>
        </setting>
    </group>
    <group id="AmGroup" title="Wake-up Routine (AM)">
        <setting propertyKey="@Properties.AmGreenStart" title="AM Green start (min)">
            <settingConfig type="numeric"/>
        </setting>
        <setting propertyKey="@Properties.AmYellowStart" title="AM Yellow start (min)">
            <settingConfig type="numeric"/>
        </setting>
        <setting propertyKey="@Properties.AmRedStart" title="AM Red start (min)">
            <settingConfig type="numeric"/>
        </setting>
        <setting propertyKey="@Properties.AmRedEnd" title="AM Red end (min)">
            <settingConfig type="numeric"/>
        </setting>
    </group>
</settings>
